{% extends "base.html" %}

{% block main %}
<h1 class="page-header">About</h1>
<p>This webpage is about {{ name }}.</p>
<p>He was born on June 18th, 1996, in Tampa, Florida.
   His mother and father were both born and raised in Georgetown, Guyana. He has
   one older brother, David, who is a Doctor of Osteopathic
   Medicine. On his spare time Daniel enjoys listening to music,
   exercising, and traveling. He recently graduated from the University of
   South Florida with a Bachelor's Degree in Computer Science.</p>
{% endblock %}
